// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        td_q: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESC>;
        };
        
        td_comma: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp QMARK>, <&kp COMMA>;
        };

        td_lbrc: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LALT>, <&kp LBRC>;
         };
        
        td_rbrc: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LGUI>, <&kp RBRC>;
        };

        td_lpar: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LGUI>, <&kp LPAR>;
        };

        td_rpar: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_5";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LALT>, <&kp RPAR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭───────────────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q   ESC │  W       │  F       │  P       │  B       │   │  J                │  L       │  U       │  Y       │ BSPC     │
            &td_q      &kp W      &kp F      &kp P      &kp B          &kp J               &kp L      &kp U      &kp Y      &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├───────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S  ALT  │  T  GUI  │  G       │   │  M           MEH  │  N   GUI │  E   ALT │  I       │ O        │
            &kp A      &kp R    &mt LALT S  &mt LGUI T  &kp G         &mt LC(LS(LALT)) M  &mt RGUI N &mt RALT E  &kp I     &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├───────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K                │  H       │ , <    ? │ . >    ! │ ENTER    │
            &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K               &kp H      &td_comma  &td_dot    &kp ENTER
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├───────────────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt 1 TAB    &sk LCTRL    &sk LSHIFT   &lt 2 SPACE
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  $       │  %       │   │ ^        │ &        │ *        │ `        │ BSPC     │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET  &kp AMPS   &kp STAR  &kp GRAVE  &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ :        │  "       │  {  ALT  │  }  GUI  │  -       │   │  =       │ (   GUI  │ )   ALT  │ '        │  ;       │
            &kp COLN   &kp DQT    &td_lbrc   &kd_rbrc   &kp MINUS      &kp EQUAL  &td_lpar   &td_rpar   &kp SQT    &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ \        │  |       │  [       │  ]       │  _       │   │  +       │ <        │ >        │ ?        │  /       │
            &kp BSLH   &kp PIPE   &kp LBKT   &kp RBKT   &kp UNDER      &kp PLUS   &kp LT     &kp GT     &kp QMARK  &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &sk LCTRL    &sk LSHIFT   &lt 3 SPACE
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │  /       │  *       │   │  =       │  7       │  8       │  9       │  BSPC    │
            &trans     &trans     &trans     &kp FSLH   &kp STAR       &kp EQUAL  &kp N7     &kp N8     &kp N9     &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │  LALT    │  -  LGUI │  +       │   │  .       │  4       │  5       │  6       │          │
            &trans     &trans     &kp LALT &mt LGUI MINUS &kp PLUS     &kp DOT    &kp N4     &kp N5     &kp N6     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │  ,       │   │  0       │  1       │  2       │  3       │  ENTER   │
            &trans     &trans     &trans     &trans     &kp COMMA      &kp N0     &kp N1     &kp N2     &kp N3     &kp ENTER
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &lt 3 TAB  &sk LCTRL    &sk LSHIFT   &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬────────────┬────────────┬────────────┬──────────╮   ╭──────────┬─────────┬─────────────┬─────────────┬──────────╮
        //│          │ L Click    │ Mouse Up   │ R Click    │ Wheel Up │   │  Down    │ Right   │             │             │  BSPC    │
            &trans     &trans       &trans       &trans       &trans         &kp DOWN   &kp RIGHT &trans       &trans        &kp BSPC
        //├──────────┼────────────┼────────────┼────────────┼──────────┤   ├──────────┼─────────┼─────────────┼─────────────┼──────────┤
        //│          │ Mouse Left │ Mouse Down │ Mouse Right│Wheel Down│   │          │         │             │             │  F12     │
            &trans     &trans       &trans       &trans       &trans         &trans     &trans   &kp LC(LS(4)) &kp LC(LS(5))  &kp F12
        //├──────────┼────────────┼────────────┼────────────┼──────────┤   ├──────────┼─────────┼─────────────┼─────────────┼──────────┤
        //│BOOTLOADER│PROFILE 0   │PROFILE 1   │PROFILE 2   │CLEAR BT  │   │  Up      │ Left    │             │             │  ENTER   │
          &bootloader &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_CLR     &kp UP     &kp DOWN  &trans       &trans        &kp ENTER
        //╰──────────┴────────────┴────────────┼────────────┼──────────┤   ├──────────┼─────────┼─────────────┴─────────────┴──────────╯
                                                 &trans       &sk LCTRL    &sk LSHIFT   &trans
        //                                     ╰────────────┴──────────╯   ╰──────────┴─────────╯
            >;
        };
    };
};
