// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

&mt {
    tapping-term-ms = <300>;
};

&mmv {
   time-to-max-speed-ms = <680>;
   acceleration-exponent=<2>;
};

/ {
    behaviors {
        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        td_q: tap_dance_dblt_q {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLE_TAP_Q";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭───────────────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q   ESC │  W       │  F       │  P       │  B       │   │  J                │  L       │  U       │  Y       │ BSPC     │
            &td_q      &kp W      &kp F      &kp P      &kp B          &kp J               &kp L      &kp U      &kp Y      &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├───────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S  ALT  │  T  GUI  │  G       │   │  M           MEH  │  N   GUI │  E   ALT │  I       │ O        │
            &kp A      &kp R    &mt LALT S  &mt LGUI T  &kp G         &mt LC(LS(LALT)) M  &mt RGUI N &mt RALT E  &kp I     &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├───────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K                │  H       │ , <    ? │ . >    ! │ ENTER    │
            &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K               &kp H  &td QMARK COMMA &td EXCL DOT &kp ENTER
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├───────────────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt 1 TAB    &sk LCTRL    &sk LSHIFT   &lt 2 SPACE
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬────────────┬────────────┬──────────╮   ╭──────────┬────────────┬────────────┬──────────┬──────────╮
        //│  !       │  @       │  #         │  $         │  %       │   │ ^        │ &          │ *          │ `        │ BSPC     │
            &kp EXCL   &kp AT     &kp HASH     &kp DLLR     &kp PRCNT      &kp CARET  &kp AMPS   &kp STAR  &kp GRAVE  &kp BSPC
        //├──────────┼──────────┼────────────┼────────────┼──────────┤   ├──────────┼────────────┼────────────┼──────────┼──────────┤
        //│ :        │  "       │  {  ALT    │  }  GUI    │  -       │   │  =       │ (   GUI    │ )   ALT    │ '        │  ;       │
            &kp COLN   &kp DQT  &td LALT LBRC &td LGUI RBRC &kp MINUS     &kp EQUAL &td RGUI LPAR &td RALT RPAR &kp SQT &kp SEMI
        //├──────────┼──────────┼────────────┼────────────┼──────────┤   ├──────────┼────────────┼────────────┼──────────┼──────────┤
        //│ \        │  |       │  [         │  ]         │  _       │   │  +       │ <          │ >          │ ?        │  /       │
            &kp BSLH   &kp PIPE   &kp LBKT     &kp RBKT     &kp UNDER      &kp PLUS   &kp LT       &kp GT       &kp QMARK  &kp FSLH
        //╰──────────┴──────────┴────────────┼────────────┼──────────┤   ├──────────┼────────────┼────────────┴──────────┴──────────╯
                                                &none      &sk LCTRL      &sk LSHIFT  &lt 3 SPACE
        //                                   ╰────────────┴──────────╯   ╰──────────┴────────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │  ,       │  7       │  8       │  9       │  BSPC    │
            &trans     &trans     &trans     &trans     &trans         &kp COMMA  &kp N7     &kp N8     &kp N9     &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  .       │  4       │  5       │  6       │          │
            &trans     &trans     &trans     &trans     &trans         &kp DOT    &kp N4     &kp N5     &kp N6     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  0       │  1       │  2       │  3       │  ENTER   │
            &trans     &trans     &trans     &trans     &trans         &kp N0     &kp N1     &kp N2     &kp N3     &kp ENTER
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &lt 3 TAB  &sk LCTRL    &sk LSHIFT   &none
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬────────────┬────────────┬────────────┬──────────╮   ╭──────────┬─────────┬─────────────┬─────────────┬──────────╮
        //│          │            │            │            │ Wheel Up │   │  Down    │ Right   │             │             │  BSPC    │
            &trans     &trans       &trans       &trans     &mwh SCROLL_UP   &kp DOWN   &kp RIGHT &mv MOVE_UP   &trans        &kp BSPC
        //├──────────┼────────────┼────────────┼────────────┼──────────┤   ├──────────┼─────────┼─────────────┼─────────────┼──────────┤
        //│          │            │ L Click    │ R Click    │Wheel Down│   │          │         │             │             │  F12     │
            &trans     &trans       &trans       &mkp RCLK  &mwh SCROLL_DOWN &trans &mv MOVE_LEFT  &mv MOVE_DOWN &mv MOVE_RIGHT  &kp F12
        //├──────────┼────────────┼────────────┼────────────┼──────────┤   ├──────────┼─────────┼─────────────┼─────────────┼──────────┤
        //│BOOTLOADER│PROFILE 0   │PROFILE 1   │PROFILE 2   │CLEAR BT  │   │  Up      │ Left    │             │             │  ENTER   │
          &bootloader &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_CLR     &kp UP     &kp LEFT &kp LC(LS(4)) &kp LC(LS(5)) &kp ENTER
        //╰──────────┴────────────┴────────────┼────────────┼──────────┤   ├──────────┼─────────┼─────────────┴─────────────┴──────────╯
                                                 &none        &sk LCTRL    &sk LSHIFT   &none
        //                                     ╰────────────┴──────────╯   ╰──────────┴─────────╯
            >;
        };
    };
};
